/.bundle

/log/*
!/log/.keep
/tmp

/spec/examples.txt
/coverage

**/.DS_Store
.DS_Store
.idea
/public/system
/public/uploads
/public/test/uploads
/public/development/uploads
.ruby-gemset
.ruby-version
dump.rdb
/config/database.yml
