default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: password

development:
  <<: *default
  database: imf_development

test:
  <<: *default
  database: imf_test

production:
  <<: *default
  database: imf_production
